.APP{
  background: linear-gradient(to right, #403a3e, #be5869);
}
.categories{
  padding: 50px;
  color: white;
  width: 100%;
}
ul>li{
  display: inline-block;
  padding: 20px;
}
.card {
  float: left;
  width: 23%;
  box-shadow: 2px 2px 2px 3px black;
}
.card-img-top {
  padding: 10px;
  width: 70%;
  height: 250px;
  margin: auto;
}
.card-img-top:hover {
  padding: 0px;
}
.card-text,.card-title{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;

}

table, td, th {
  border: 1px solid black;
}
td,th{
  width: fit-content;
  padding: 15px;
}
table {
  width: 90%;
  margin: auto;
  background-color: white;
  border-collapse: collapse;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media (max-width :499px) {
  .card {
      float: none;
      width: 90%;
      margin: auto;
  }
}

@media (min-width :500px) and (max-width :999px) {
  .card {
    width: 47%;
  }
}
